// $backgounr-color:#0A1B2E;

.sidebarWrapper{
    width: 250px;
    height: 100%;
    // background-color: red;
    background-image: url('../../assets/images/sidebar_bg.jpg');
    background-size: cover;
    background-position: center;
    
}

.sidebar {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    color: white;
}
.header{
    height:60px;
    width:100%;
    box-shadow: none 0 10px 0px gray;
    // &::after{
    //     position:absolute;
    //     content: "";
    //     top: 10px;
    //     height :1px;
    //     width  : 250px;
    //     background-color:red; 

    // }

}